<div class="page">
    <app-navbar></app-navbar>

    <div class="body">
        <h1 style="font-size: 2rem;" class="">Welcome back, {{currentUser.name.substring(0,1).toUpperCase() + currentUser.name.substring(1).toLowerCase()}} !</h1>
        <section class="bookings">
            <div class="flex justify-between mb-5"> 
                <div>
                    <h2 style="font-weight: bold;">All rooms</h2>
                </div>
                <div class="flex gap-6 justify-between">
                    <div class="flex search-nav magic-input"> 
                        <input class="search" type="text" placeholder="Search a room..." />
                        <button class="search-book">
                            <i class="fi fi-rr-search"></i>
                        </button>
                    </div>
                    <div class="flex items-center">
                        <label for="" class="text-gray-600" style="padding: 0 0.5rem;" >Open: </label>
                    <input type="time" class="latest" placeholder="Open">
                    </div>
                    <div class="flex items-center">
                        <label for="" class="text-gray-600" style="padding: 0 0.5rem;" >Close: </label>
                    <input type="time" class="latest" placeholder="Close">
                    </div>
                    <input type="number" class="latest" placeholder="Capacity">
                    <!-- <select class="latest">
                        <option value="latest" selected>Latest</option>
                        <option value="oldest">Oldest</option>
                    </select> -->

                </div>
            </div>

            <div style="width: 100%; height: 100%; margin-left: 0.5rem;" class="flex gap-5 flex-wrap">
                <app-room-card *ngFor="let r of rooms" [room]="r" (book)="openBook($event)" (viewDetails)="openDetails($event)"></app-room-card>
            </div>
            <!-- <app-room-book-modal *ngIf="showBookModal" [room]="selectedRoom" (close)="closeBook()"></app-room-book-modal> -->
            <app-room-details *ngIf="showDetails" [room]="selectedRoom" (close)="closeDetails()"></app-room-details>
            <app-room-booking-calendar  [isOpen]="showBookModal" [room]="selectedRoom!" [selectedDate]="currentDate" (close)="closeBook()" (bookingCreated)="onBookingCreated($event)"></app-room-booking-calendar>


        </section>
    </div>

</div>

