.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: white;
  padding: 16px 24px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 45px;
  position: sticky;
  top: 16px;
  z-index: 1000;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color: #402e32;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #eaebec; 
  border-radius: 20px;
  padding: 12px 30px;
}

.search-box:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.search-icon {
  width: 16px;
  height: 16px;
  color: #402e32;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 192px;
  background-color: #eaebec;
}

.search-box-small input {
  width: 148px;
}

.icon-button {
  width: 40px;
  height: 40px;
  border: 1px solid #e5e7eb;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  stroke: #683b21;
}

.icon-button:hover {
  background-color: #f9fafb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.icon-button svg {
  width: 18px;
  height: 18px;
  color: #402e32;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 40px;
  padding: 6px 20px 6px 8px ;
  cursor: pointer;
  transition: all 0.2s;
}

.user-profile:hover {
  background-color: #f9fafb;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #f97316, #fb923c);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  color: #402e32;
}

.user-role {
  font-size: 12px;
  color: #402e32;
} 


.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 18px;
  background-color: #eaebec;
  border-radius: 30px;

}

.logo-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #f97316, #fb923c);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}

.logo-text {
  font-size: 18px;
  font-weight: bolder;
  color: #402e32;
}

.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.badge {
  margin-left: auto;
  background-color: #f97316;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 9999px;
}

.badge-gray {
  margin-left: auto;
  background-color: #eaebec;
  color: #4b5563;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 8px;
}