<div style="width: 100vw; height: 100vh;">
    <app-navbar></app-navbar>

    <div class="body">
        <h1 style="font-size: 2rem;" class="">Welcome back, <span style="margin: 0 0.5rem;">{{currentUserSubject.getValue().name.substring(0,1).toUpperCase() + currentUserSubject.getValue().name.substring(1).toLowerCase()}} !</span></h1>
        <section class="bookings">
            <div class="flex justify-between" style="margin-bottom: 0.5rem;"> 
                <div class="flex gap-4 items-center">
                    <button type="button" class="calendar-button" (click)="toggleCalendar()">
                        {{ showCalendar ? 'Hide Calendar' : 'Show Calendar' }}
                    </button>
                    @if (!showCalendar) {
                        <h2 style="font-weight: bold;">Your bookings</h2>
                    }
                </div>
                <div class="flex gap-6 justify-between">
                    <div class="flex search-nav"> 
                        <input class="search" type="text" placeholder="Search a room..." />
                        <button class="search-book">
                            <i class="fi fi-rr-search"></i>
                        </button>
                    </div>
                    <select class="latest" (change)="sortBookings()" #sortSelect>
                        <option value="latest" selected>Latest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                    <button class="new-booking" (click)="openNewBookingModal()">+ New Booking</button>
                </div>
            </div>
            <div class="flex">
                @if (showCalendar) {
                    <div style="width: 100%; height: 100%;">
                        <app-weekly-calendar (bookingUpdate)="onUpdateBooking($event)" [bookings]="bookings" ></app-weekly-calendar>
                    </div>
                }@else {
                    <div style="" class="book-wrapper flex gap-2">
                        <ul class="booking-list">
                            <div>
                                <p style="margin: 2rem 0;" *ngIf="bookings.length === 0" class="text-center m-5 text-gray-400">No bookings yet.</p>
                            </div>
                            @for (b of bookings; track $index) {
                                <app-booking-item (click)="handleClick($index)" [id]="'book-'+$index" (showDetails)="onShowBookingDetails($event)" [booking]="b" (cancelBooking)="onCancelBooking($event)" (updateBooking)="onUpdateBooking($event)"></app-booking-item>
                            }
                        </ul>
                        <div class="booking-details no-navbar" #details>
                            @if (!showDetails) {
                                <p>Click a booking to see the details here.</p>
                            }@else {
                                <div class="tooltip" (click)="onShowTooltips()"><i class="fi fi-rr-menu-dots-vertical"></i></div>
                                @if (showMoreOptions) {
                                    <div class="options" role="menu" #options>
                                        <div (click)="doClose()">Clear</div>
                                        <div>Edit</div>
                                        <div class="cancel" (click)="onCancel(bookingDetails.id)">Cancel</div>
                                    </div>
                                }
                                <h3 class="header">{{bookingDetails.title}}</h3>

                                <div class="row">
                                    <strong style="margin-right: 0.5rem;">Date:</strong>
                                    <ng-container>
                                        {{bookingDetails.date | date:'fullDate'}}
                                    </ng-container>
                                    </div>

                                    <div  class="row">
                                        <div><strong style="margin-right: 0.5rem;">Period: </strong>{{startTimeString}} — {{endTimeString}}</div>
                                    </div>

                                    <div class="row"><strong>Room:</strong> {{ bookingDetails.room.name }}</div>

                                    <div class="row"><strong>Capacity:</strong> {{ bookingDetails.room.capacity }} people</div>

                                    <div class="row"><strong>Amenities:</strong>
                                        <ng-container *ngIf="bookingDetails.room.amenities && bookingDetails.room.amenities.length; else noAmenities">
                                            <ul style="display: flex; gap: 0.5rem;">
                                            <li class="amenity" *ngFor="let a of bookingDetails.room.amenities">{{ a }}</li>
                                            </ul>
                                        </ng-container>
                                        <ng-template #noAmenities>—</ng-template>
                                    </div>

                                    <div class="row description">
                                        <strong style="display: block;">Description:</strong>
                                        <ng-container>{{ bookingDetails.description || '—' }}</ng-container>
                                    </div>
                        }
                            
                        </div>
                    </div>
                }
                
            </div>

            
            <!-- <app-room-booking-calendar [isOpen]="showNewBookingModal"></app-room-booking-calendar> -->
        </section>
    </div>

   <!-- New Booking (standalone component) -->            
    <app-new-booking *ngIf="showNewBookingModal" (created)="onNewCreated($event)" (close)="onNewCancelled()">

    </app-new-booking>
</div>
