.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-panel {
    background: #fff;
    padding: 1rem 1.2rem;
    border-radius: 8px;
    width: 92%;
    max-width: 640px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    z-index: 999;
    .header{
      font-weight: bold;
      color: var(--slate-500);
      text-align: center;
      padding-bottom: 0.75rem;
      border-bottom: var(--slate-300) 1px solid;
    }

    .row { margin: 1rem 0 }
    .description textarea { width: 100%; }
    .actions { display:flex; gap:0.5rem; justify-content: flex-end; margin-top: 0.8rem; }
    .btn { 
      padding: 0.4rem 0.7rem;
      border-radius: 12px;
      cursor:pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }

  }
  
.edit{
  border: 2px solid var(--slate-300);
  background-color: var(--slate-500);
  color: white;
}

.close{
  border: 2px solid var(--slate-500);
  color: var(--slate-500);
  background: none;
}

.save{
  background: linear-gradient(var(--primary-400),var(--primary-600));
  color: var(--white);
}
.modal-backdrop::backdrop{
    transition: all 0.7s ease-in;
}

.modal-panel {
    animation: fade-out 0.7s ease-out;
}

.modal-panel[open] {
    animation: fade-in 0.7s ease-out;
}

@keyframes fade-out {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-in {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}
